<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        form>div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        form {
            width: 300px;
        }

        .manager-list-container>select {
            width: 170px;
        }
    </style>
</head>

<body>
    <h1>Add employee</h1>
    <div>
        <form th:object="${employee}" th:action="@{/save}" action="#" method="post">
            <div class="first-name-container">
                <label for="firstName">First name</label>
                <input type="text" id="fistName" th:field="*{firstName}" />
            </div>

            <div class="last-name-container">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" th:field="*{lastName}" />
            </div>

            <div class="email-container">
                <label for="email">Email</label>
                <input type="text" id="email" th:field="*{email}" />
            </div>

            <div class="manager-list-container">
                <label for="managerlist">Manager</label>
                <select id="managerlist" th:field="*{manager}" class="form-control">
                    <option th:each="manager: ${managers}" th:value="${manager.id}"
                        th:text="${manager.firstName} + ${manager.lastName}"></option>
                </select>
            </div>


            <hr />
            <h3>First day</h3>

            <div th:object="${workhour}">
                <label>Date:</label>
                <input type="date" th:field="*{date}" required/>

                <label>Check-in:</label>
                <input type="time" th:field="*{checkIn}" required/>

                <label>Check-out:</label>
                <input type="time" th:field="*{checkOut}" required/>
            </div>

            <br />
            <div class="save-container">
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        </form>
    </div>
</body>

</html>