<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h2>
        Modify Work Hours for [[${employee.firstName}]] [[${employee.lastName}]]
    </h2>

    <form th:action="@{/modify/{id}(id=${employee.id})}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="wh, iterStat : ${workHours}">
                    <td>
                        <input type="date" th:name="workHours[__${iterStat.index}__].date" th:value="${wh.date}" />
                    </td>
                    <td>
                        <input type="time" th:name="workHours[__${iterStat.index}__].checkIn"
                            th:value="${wh.checkIn}" />
                    </td>
                    <td>
                        <input type="time" th:name="workHours[__${iterStat.index}__].checkOut"
                            th:value="${wh.checkOut}" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit">Save</button>
    </form>
</body>

</html>