<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Working Hours List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <style>
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }

        table {
            font-size: 0.9rem;
        }
    </style>
</head>

<body class="bg-light">
    <h2 class="text-center mb-4">Employee Weekly Work Schedule</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Employee</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${workMap}">
                <td th:text="${entry.key.firstName + ' ' + entry.key.lastName}"></td>

                <td
                    th:text="${entry.value['MONDAY'] != null ? entry.value['MONDAY'].checkIn + ' - ' + entry.value['MONDAY'].checkOut : '-'}">
                </td>
                <td
                    th:text="${entry.value['TUESDAY'] != null ? entry.value['TUESDAY'].checkIn + ' - ' + entry.value['TUESDAY'].checkOut : '-'}">
                </td>
                <td
                    th:text="${entry.value['WEDNESDAY'] != null ? entry.value['WEDNESDAY'].checkIn + ' - ' + entry.value['WEDNESDAY'].checkOut : '-'}">
                </td>
                <td
                    th:text="${entry.value['THURSDAY'] != null ? entry.value['THURSDAY'].checkIn + ' - ' + entry.value['THURSDAY'].checkOut : '-'}">
                </td>
                <td
                    th:text="${entry.value['FRIDAY'] != null ? entry.value['FRIDAY'].checkIn + ' - ' + entry.value['FRIDAY'].checkOut : '-'}">
                </td>
                <td th:text="${entry.key.manager.firstName + ' ' + entry.key.manager.lastName}"></td>
            </tr>
        </tbody>
    </table>


    <a href="/addemployee" class="btn btn-primary">Add Employee</a>
    <a href="/worklist" class="btn btn-primary">Employees List</a>


</body>

</html>